.register{
    width: 400px;
    margin: 0 auto;
    background-color: #FCF3CF;
    text-align: center;
    padding: 50px 20px;
  }
  form input{
    padding: 5px;
    font-size: 15px;
    onblur: bold;
    width: 250px;
    margin: 10px;
    font-weight: 500;
  }
  .checkbox{
    color: red;
  }
  .form{
    margin: 20px;
  }
  .reg-btn{ 
    background-color: #F3DA73;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
  }
  .reg-btn:hover{
    color: navy;
    background-color: #FBD84D;
  }